* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px red;
    background-color: lightgray;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.calculator-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 20px;
}

.numpad {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button {
    padding: 20px;
    font-size: 24px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    gap: 10px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


